.card {
    background: #98c619;
    width: 100vw;
    height: 100vh;
    margin: 70px 20px 5px 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
     position: relative;}

.name{
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: 'none';
    color: #2f2e2e;
    text-align: center;
    font-size: 40px;
}

.diets{
    padding: 0px;
    font-size: 15px;
    color: #292828;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: 'none';
}
.types{
    padding: 0px;
    font-size: 12px;
    color: #292828;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: 'none';
    display: 'flex';
}

.summary{
    padding: 0px;
    font-size: 15px;
    color: #222020;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    text-decoration: 'none';
    display: 'flex';
    
    
}
.img{
    padding: 3px;
    overflow: hidden; 
    height: 300;
    width: 300;
    border-radius: 15px;
    background-position:center;
    
}
/* 
.subTitle{
    text-align: center;} */
   
 .button{
        justify-content: space-around;
        background-color: #FAFAED;
        border-color: #131311;
        color: #080e07;
        border-radius: 0.5rem;
        cursor: pointer;
        padding: 0.7rem;
        font-family: Arial, Helvetica, sans-serif;
        border-style: solid;
        font-size: .7rem;
        text-decoration-style: none;
        margin: 1rem;
    
    }
    .subTit{
        padding: 3px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: 'none';
        color: #0d0d0d;
        text-align: center;
        font-size: 20px;
    }
  
    .healths-progress {
        margin-left: 20px;
        margin-top: 8px;
      }
      
      .star {
        font-size: 24px; /* Tamaño de la estrella */
        color: #f2f925 ; /* Color de la estrella */
      }
      
      .filled::before {
        content: "\2605"; /* Estrella rellena en UTF-8 */
      }
      
      .half-filled::before {
        content: "\2605\00BD"; /* Media estrella en UTF-8 */
      }
      
      .empty::before {
        content: "\2606"; /* Estrella vacía en UTF-8 */
      }
      