.card {
    background: #acc95f;
    width: 20vw;
    height: 50vh;
    margin: 70px 20px 5px 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
     position: relative;
}

.card:hover {
    transform: scale(1.07);
} 

.title {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: 'none';
    color: #2f2e2e;
    text-align: center;
    font-size: 15px;
}

.diets {
    padding: 0px;
    font-size: 10px;
    color: #292828;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: 'none';
}
.types {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: 'none';
    color: #292828;
    text-align: center;
    font-size: 10px;
    

}

.img {
    padding: 3px;
  overflow: hidden; 
    height: auto;
    width: auto;
    border-radius: 15px;
}

