.container {
  
    background-size: 50%;
    background-position: right;
    background-position-y: bottom; 
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
    background:url('../imagen/landi.jpg');
    
     
}
.h1{
    font-family: Goudy Old Style, Helvetica, sans-serif;
    font-size: 10vh;
    color:#f8fba7  hsl(62,91%,82%)rgb(248,251,167);
    padding-top: 10rem;
    margin-top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.btn{
    background-color:#f8fba7;
    color:#f8fba7  hsl(62,91%,82%)rgb(248,251,167);
    border-radius: 2rem;
    border-style: solid;
    cursor: pointer;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    justify-content: space-around; 
}

/* 
  .imag {
    background-image: url('../imagen/landi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
  }     */
  /* .container {
    background-image: url('../imagen/imagen para landing.png');
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width: 50%;
    height: 50vh;
  } */