
.select{
    background-color: #acc95f;
    color:#7A7A72;
    border-style: solid;
    border-color: #7A7A72;
    border-radius: 0.5rem;
    padding: 0.4rem;
    border-width: .1rem;
    justify-content: center;
    align-items: center;

}

.button{
     justify-content: space-around;
background-color: #FAFAE8;
border-color: #7A7A72;
border-width: .1rem;
color: #7A7A72;
border-radius: 0.5rem;
border-style: solid;
cursor: pointer;
padding: 0.35rem;
font-family: 'Poppins';
font-size: .9rem;
text-decoration: none;
justify-content: center;
align-items: center;

}