.button { 
    justify-content: space-around;
    background-color:#f8fba7;
    border-color: #8ab162;
    color: #7A7A72;
    border-radius: 0.5rem;
    border-style: solid;
    cursor: pointer;
    padding: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    margin: 1rem;

}
.micomponente {
    background-image: url('../imagen/home.jpg');
    background-size: cover;
    background-position: center;
  }
  

